<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon-180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16.png"
    />

    {{#if title}}
      <title>{{title}}</title>
    {{else}}
      <title>Admin</title>
    {{/if}}

    <!-- Alpine Plugins -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.13.3/dist/cdn.min.js"
    ></script>

    <!-- Alpine Core -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"
    ></script>
  </head>
  <body x-cloak x-data>
    {{#extend "sidebar"}}{{/extend}}

    <div class="sm:ml-64">
      {{{body}}}
    </div>

    {{#extend "toast"}}{{/extend}}

    {{! prettier-ignore}}
    <script>
      document.addEventListener('alpine:init', () => {
        Alpine.store('sidebar', {
            on: false,
            selected: null,
            page: null,

            toggle() {
                this.on = ! this.on
            }
        });

        
      });

      document.addEventListener('DOMContentLoaded', () => {
        const toastParams = localStorage.getItem('toast');

        if (toastParams) {
          toast(...JSON.parse(toastParams));
          localStorage.removeItem('toast');
        }
      });

      const toast = ('notify', (message, options = {}) => {
        let description = '';
        let type = 'default';
        let position = 'top-right';
        let html = '';
        if(typeof options.description != 'undefined') description = options.description;
        if(typeof options.type != 'undefined') type = options.type;
        if(typeof options.position != 'undefined') position = options.position;
        if(typeof options.html != 'undefined') html = options.html;
        
        window.dispatchEvent(new CustomEvent('toast-show', 
          { 
            detail : { 
              type: type, 
              message: message, 
              description: description, 
              position : position, 
              html: html 
            }
          }
        ));
      });

      const toLocalDate = (time) => {
        if (!time) {
          return "";
        }

        const date = new Date(time);
        return date.toISOString().replace("T"," ").substring(0, 19);
      }
    </script>

    {{#block "script"}}{{/block}}
  </body>
</html>